.button {
  display: inline-block;
  padding: $m-size;
  width: 100%;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  color: white;
  text-align: center;
  text-decoration: none;
  background: $blue;
  border: none;
}

.button--link {
  padding: $s-size $m-size;
  width: auto;
  background: none;
  border: 1px solid rgba(255, 255, 255, .5);
}

.button--secondary {
  background: #888;
}
